body{
  width: 30%;
  margin-left: 35%;
  margin-top: 6%;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.Hakimi {
  font-family:  'Brush Script MT', cursive;
  color: #FFA500;
  font-size: 2.0em;
}


/* Style the form icons */
.icon {
  padding: 10px;
  background: #191970;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 5px ;
  border-bottom-left-radius: 5px ;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid black;
}

.input-field:focus {
  border: 2px solid #191970;
}

/* Set a style for the submit button */
.btn {
  background-color: #191970;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px ;
}
.btn:hover {
  opacity: 1;
}

.imgcontainer {
  text-align: center;
}

/* Avatar image */
img.avatar {
  width:70%;
}
